include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include data_collection_app *.css
recursive-include data_collection_app *.csv
recursive-include data_collection_app *.html
recursive-include data_collection_app *.ico
recursive-include data_collection_app *.js
recursive-include data_collection_app *.json
recursive-include data_collection_app *.md
recursive-include data_collection_app *.png
recursive-include data_collection_app *.py
recursive-include data_collection_app *.svg
recursive-include data_collection_app *.txt
recursive-exclude data_collection_app *.pyc